/* CSS PROPIO NATIVO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#header .header_menu ul li a:hover {
    background-color: aquamarine;
    color: blue;
}

#section .section_gorras a img {
    width: 100 px;
    height: auto;
    border: 10px solid black;
    height: auto;
    border-radius: 30px;
} 
 .carousel-inner img{
    width: 50px;
    height: 500px;
    padding: 30px;
    border: 10px solid black;
       
    border-radius: 200px;
}

      
   
 
