/* CSS PROPIO NATIVO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}






#header .header_menu ul li a:hover {
    background-color: aquamarine;
    color: blue;
}








#section .section_gorras{
    background-color: #c2b08c;
    width: auto;
    height: auto; 
    padding: 50px;       
    
}


#section .section_gorras a img {
    width: 100 px;
    height: auto;
    border: 10px solid black;
    height: auto;
    border-radius: 30px;
}

#section .section_historia{
    background-color: #c2b08c;
    width: auto;
    height: auto;
}

#footer .footer_redes {
    background-color: #c2b08c;
    width: auto;
    height: auto;
    border: 5px solid black;
    
;
}

#footer .footer_redes img{
    width: 50px;
    padding: 10px;
    height: auto;
    border-radius: 10px;
}

.BoxPositionFix {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.BoxPositionFix a img{
    width: 100px;
    height: auto;
    border-radius: 10px;
}

 .carousel-inner img{
    width: 50px;
    height: 500px;
    padding: 30px;
    border: 10px solid black;
       
    border-radius: 200px;
}