/* css compilado */
@import 'vars';
#header{
    background-color: $bgheaderfooter;
    text-align: center ;
    .header_logo{
        img {
            width:  75px;
            height: auto;
            margin-bottom: 15px;
            border-radius: 10px;
        }    
    } 
    .header_menu{
        ul li{
            display: inline;
            list-style: none;
            a {
                text-decoration: none;
                background-color: #209688;
                color: black;
                padding: 10px 20px;
                margin: 10px;
                border-radius: 10px;    
            }
        }        
    }    
}
/* MAIN */
.MenuPrincipal{
    text-align: center;
    position: relative;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    color:black;
    overflow: auto;
    

    &::before{
        content: "";
        background-image: url(../img/logo.png);
        background-position: center ;
        opacity:0.3;
        top: 0px;
        left:0px;
        bottom: 0px;
        right: 0px;
        position: absolute;        
    } 
    
    
    div{
        background-color: transparent;
        padding-top: 10px;
        color: aliceblue;
        font-size: xx-large;
        position: relative;
        
        
    }
    .boxPrincipal{
        color: $bgtextoborde;
        background-color: $bgheaderfooter;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        border: 10px solid $bgtextoborde;
        border-radius: 50px ;
        width: 50%;
        margin: auto;
        position: relative;
        iframe{
            width: 100%;
            height: 250px;
        }
    }
    @media (min-width: $vistaDesktop) {
        iframe{
            max-width: 300px;
        }
        
    }
}



.MenuGorras{
    div{
        
        div{
            font-size: medium;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: transparent;
            margin: auto;
            transition: all 1s;
            a{
                background-color:$bgbutton;
                border: $bgbutton;       
            }
            &:hover{
                transform: scale(1);
                background-color: $bgheaderfooter; 
            }
            
            
        }
    }
}
.circular{
    border-radius: 50%;
}
.colorTexto {
    
    color: $bgtextoborde;
    /* background-color: $bgfondotexto; */
}
/* css carousel */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  /* section videos */
#section{
    .section_gorras{
        background-color: #c2b08c;
        width: auto;
        height: auto; 
        padding: 50px;
        a img {
            width: 100 px;
            height: auto;
            border: 10px solid black;
            height: auto;
            border-radius: 30px;
        }
        iframe{
            width: 100%;
            height: 450px;
        }
        @media (min-width: $vistaDesktop) {
            iframe{
                max-width: 600px;
            }
            
        }

    }
    .section_historia{
        background-color: #c2b08c;
        width: auto;
        height: auto;
    }
}
/* footer */
#footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    width: auto;
    justify-content: center;
    .footer_redes{
        background-color: #c2b08c;
        width: auto;
        height: auto;
        border: 5px solid black;
        img{
            width: 50px;
            padding: 10px;
            height: auto;
            border-radius: 10px;    
        }    
    }
}

.BoxPositionFix {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    a img{
        width: 100px;
        height: auto;
        border-radius: 10px;
    }
}